strict-ssl=false
@sundaysky:registry=https://sundaysky.jfrog.io/sundaysky/api/npm/npm/
//sundaysky.jfrog.io/sundaysky/api/npm/npm/:_authToken=${NPM_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}
save-exact=true
package-lock=true
audit=false
fund=false
legacy-peer-deps=true